.projects {
  width: 40%;
  height: 70px;
  border: 1px solid gray;
  display: flex;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
}
.projects:hover {
  background-color: #f0f0f0;
}
.details {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.delete_button {
  color: red;
}
.delete_button:hover {
  background-color: rgb(228, 38, 38);
  color: white;
}
.division {
  display: flex;
}
.projectsrender {
  width: 100%;
}
.content {
  width: 100%;
  padding: 30px;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn {
  margin-top: 10px;
}
