.available_form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.form-title {
  text-align: center;
  margin-bottom: 1em;
  /* padding-top: 50px; */
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.link-primary {
  cursor: pointer;
}
.box {
  height: 50px;
  border: 2px solid black;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  align-content: stretch;
  align-items: flex-end;
}

.container {
  display: flex;
  justify-content: center;
}
.day {
  width: 10%;
  text-align: center;
}

.switchContent {
  width: 70%;
}

.button {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
