.comissionSetting {
  width: 1000px;
}

.data_pick {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 100px;
}

.AvailableTimeSlotCalendar {
  display: flex;
  flex-wrap: wrap;
}
.studentDiv {
  display: flex;
}
