*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  padding: 10px 10px;
  /* border: 1px solid gray; */
  background-color: rgb(240, 240, 240);
  /* color: #000; */
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.188rem;
  transition: 0.4s all;
  cursor: pointer;
  margin: 5px;
}
button:hover{
  background-color: rgb(220, 220, 220);
}
.zapisy {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.App{
  padding: 15px;
}